/* .mainn {
    margin: auto;
    width: 750px;
    max-width: calc(100vw - 50px);
}

.mainImage {
    width: 100%;
} */
/* body {
    font-size: 24px;
    text-indent: 250px;
    line-height: 45px;
    letter-spacing: 1.5px;
    text-align: justify;
}  */
